<!--<div class="card size">-->
  <!--<div class="card-content">-->
    <!--<p>-->
      <!--The money is {{  money }}-->
    <!--</p>-->

  <!--</div>-->
  <!--<footer class="card-footer">-->
    <!--<p class="card-footer-item">-->
    <!--</p>-->
    <!--<p class="card-footer-item">-->
    <!--</p>-->
  <!--</footer>-->
<!--</div>-->

<!--<div class="container is-fluid">-->
  <!--<div class="notification">-->
    <!--This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any-->
    <!--viewport size.-->
    <!--This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any-->
    <!--viewport size.-->
    <!--This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any-->
    <!--viewport size.-->
    <!--This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any-->
    <!--viewport size.-->
    <!--This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any-->
    <!--viewport size.-->
    <!--This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any-->
    <!--viewport size.-->
    <!--This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any-->
    <!--viewport size.-->
    <!--This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any-->
    <!--viewport size.-->
  <!--</div>-->
<!--</div>-->

<div class='outer-box'>
  <div class="inner-box">

  </div>
</div>
