<p>
  front-display works!
</p>

<button (click)="getBoeingApi()">Get Boeing!</button>
<button (click)="getPfizerApi()">Get Pfizer!</button>


<!--<my-cron-selection [(ngModel)]="hero.frequency" [cronJobConfig]="cronJobConfig" ngDefaultControl></my-cron-selection>-->

<div class="box_experiment1">
  <app-stocks-in-market></app-stocks-in-market>
</div>

<div class="box_experiment1">
  <app-stocks-holding></app-stocks-holding>
</div>


<div class="box_experiment1">
  <app-money-balance></app-money-balance>
</div>
