.holding{
  width: 40%;
  height: 40%;
}
box{
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
}

.available-balance{
  position: absolute;
  bottom: 10%;
  left: 2%;
}
.shares-balance{
  position: absolute;
  top: 35%;
  left: 2%;
}

.notifications-success{
  color: green ;
}

.notifications-failure{
  color: red ;
}
