<div class='outer-box'>
  <div class="inner-box">
    <h2> Shares available in the market</h2>
    <button (click)="displayStocks()">Display Shares!</button>
    <h3 *ngIf="stockName1">
          {{stockName1}} ( Share price today {{stockPrice1}}).
          Place Buy Order,
          <label>Price:
            <input [(ngModel)]="orderPrice1" placeholder="price">
           </label>
          <label>Quantity:
            <input [(ngModel)]="orderQuantity1" placeholder="quantity">
          </label>
      <button (click)="placeBuyOrder('Pfizer', orderPrice1, orderQuantity1)">Place Order</button>
    </h3>
    <h3 *ngIf="stockName2">
          {{stockName2}} (Share price today {{stockPrice2}} )
          Place Buy Order
          <label>Price:
            <input [(ngModel)]="orderPrice2" placeholder="price">
          </label>
          <label>Quantity:
            <input [(ngModel)]="orderQuantity2" placeholder="quantity">
          </label>
      <button (click)="placeBuyOrder('Boeing', orderPrice2, orderQuantity2)">Place Order</button>
    </h3>
    <h3 *ngIf="orderHasBeenPlaced" class='notifications-success'>Your Order Has Been Placed</h3>
    <h3 *ngIf="noEnoughMoney" class='notifications-failure'>There is no enough money in balance</h3>
    <h3 *ngIf="priceTooLow" class='notifications-failure'>The set price is too low</h3>
  </div>
  <h3 *ngIf="stockName2" class='shares-balance'>
    Shares I am holding
    <h2> {{sharesBalance[0].name}}
      <label>
        Quantity: {{sharesBalance[0].quantity}}
      </label>
    </h2>
    <h3 *ngIf="stockName1">
      Place Sell Order
      <label>Price:
        <input [(ngModel)]="orderPrice1" placeholder="price">
      </label>
      <label>Quantity:
        <input [(ngModel)]="orderQuantity1" placeholder="quantity">
      </label>
      <button (click)="placeSellOrder('Pfizer', orderPrice1, orderQuantity1)">Place Order</button>
    </h3>
    <h2> {{sharesBalance[1].name}}
      <label>
        Quantity: {{sharesBalance[1].quantity}}
      </label>
    </h2>
    <h3 *ngIf="stockName2">
      Place Sell Order
      <label>Price:
        <input [(ngModel)]="orderPrice2" placeholder="price">
      </label>
      <label>Quantity:
        <input [(ngModel)]="orderQuantity2" placeholder="quantity">
      </label>
      <button (click)="placeSellOrder('Boeing', orderPrice2, orderQuantity2)">Place Order</button>
    </h3>
  </h3>

  <div *ngIf="money" class='available-balance'> Available balance {{money}}</div>
</div>
